.top-lines {
    display: grid;
    gap: 10px;
    -webkit-column-gap: 10px;
    grid-template-columns: 5% auto;
}

.top-lines h5 {
    border-radius: 5px;
    border-bottom: 2px solid #171717db;
}

.top-lines h6 {
    border-radius: 5px;
    border-bottom: 2px solid #c8c7c7;
}