.bloc-payment {
    width: 60%;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #adacac9e;
}

.bloc-payment h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.payment-content {
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #adacac9e;
}

.payment-content p {
    color: #666;
    margin-top: -28px;
    text-align: center;
    width: fit-content;
    padding: 4px 4px;
    background-color: #fff;
}

.payment {
    margin-top: 40px;
}

.payment img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.payment a {
    display: flex;
    color: #000;
    text-decoration: none;
}