.bloc-payment {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.bloc-payment h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.bloc-payment p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}