.validedation_btn{
    transition: background-color 1s ease;
    margin-right: 5px;
}
.validedation_btn:hover{
    border:1px solid black;
    color:black;
    background-color: white;
    width: 250px;
}

.section_one div form a{
    text-decoration: none;
    transition: background-color 1s ease;
}
.identity_div{
    margin-top: 150px;
}