body{
   margin: 0;
   padding: 0;
   background-color: rgb(238, 238, 238);
}

.text{
    display:flex;
  

}
.text h1{
    width: 40px;
    height: 40px;

    position: relative;
    border-radius: 50%;
    text-align: center;
    right: 20px;
    top: 50px;
}
.divh1 h1{
 margin-top: 40px;
 font-size: xx-large;
}
.liste_deArtistes_div{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}
.artiste_div{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.509);
    width: 400px;
    margin: 20px auto;
}
.artiste_div p{

}
.image_profil img{
    margin: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}